* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #1C1F21; }

header {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px; }
  header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-image: linear-gradient(#1C1F21 90%, #393e41, #9DA5AA);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; }
    header .nav a {
      color: #f6f7eb;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 7px; }
      header .nav a:hover {
        background-color: #5c415d; }
      header .nav a img {
        width: 50px;
        height: 100%;
        margin-top: 0; }
    header .nav ul {
      list-style: none;
      display: flex;
      padding: 10px 0; }
      header .nav ul li {
        padding: 0 7px; }

@media (max-width: 600px) {
  header .nav {
    height: 140px; }
    header .nav ul {
      display: flex;
      flex-direction: column; } }

body {
  color: #f6f7eb;
  background-color: #9DA5AA; }

main {
  margin-top: 0;
  min-height: 65vh;
  background-image: linear-gradient(#393e41, #9DA5AA 90%); }

.carrusel p {
  color: #f6f7eb; }

.carrusel img {
  height: 47rem; }

.contenido-index .entrenamiento-index-general {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenido-index .entrenamiento-index-general .index-entrenamiento {
    display: flex;
    justify-content: space-around;
    width: 100%; }
    .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-pesas {
      margin: 5px;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-pesas img {
        width: 100%;
        height: 150px;
        border-radius: 7px;
        transition: transform 0.3s ease-in-out; }
        .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-pesas img:hover {
          transform: scale(1.1); }
    .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-boxeo {
      margin: 5px;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-boxeo img {
        width: 100%;
        height: 150px;
        border-radius: 7px;
        transition: transform 0.3s ease-in-out; }
        .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-boxeo img:hover {
          transform: scale(1.1); }
    .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-crossfit {
      margin: 5px;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-crossfit img {
        width: 100%;
        height: 150px;
        border-radius: 7px;
        transition: transform 0.3s ease-in-out; }
        .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-crossfit img:hover {
          transform: scale(1.1); }
    .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-calistenia {
      margin: 5px;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-calistenia img {
        width: 100%;
        height: 150px;
        border-radius: 7px;
        transition: transform 0.3s ease-in-out; }
        .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-calistenia img:hover {
          transform: scale(1.1); }

.contenido-index .index-entrenadores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 3px 3px;
  grid-auto-flow: row;
  grid-template-areas: "index-entrenadores1 index-entrenadores2 index-entrenadores3 index-entrenadores3" "index-entrenadores4 index-entrenadores4 index-entrenadores5 index-entrenadores6"; }
  .contenido-index .index-entrenadores .index-entrenadores1 {
    grid-area: index-entrenadores1; }
  .contenido-index .index-entrenadores .index-entrenadores2 {
    grid-area: index-entrenadores2; }
  .contenido-index .index-entrenadores .index-entrenadores3 {
    grid-area: index-entrenadores3; }
  .contenido-index .index-entrenadores .index-entrenadores4 {
    grid-area: index-entrenadores4; }
  .contenido-index .index-entrenadores .index-entrenadores5 {
    grid-area: index-entrenadores5; }
  .contenido-index .index-entrenadores .index-entrenadores6 {
    grid-area: index-entrenadores6; }

.contenido-index .titulo {
  display: flex;
  justify-content: center;
  margin-top: 30px; }

.contenido-index .index-entrenadores .index-entrenadores1 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenido-index .index-entrenadores .index-entrenadores1 .entrenadores-imagenes {
    width: 100%; }
    .contenido-index .index-entrenadores .index-entrenadores1 .entrenadores-imagenes img {
      width: 100%;
      height: 250px;
      border-radius: 7px;
      transition: transform 0.3s ease-in-out; }
      .contenido-index .index-entrenadores .index-entrenadores1 .entrenadores-imagenes img:hover {
        transform: scale(1.1); }

.contenido-index .index-entrenadores .index-entrenadores2 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenido-index .index-entrenadores .index-entrenadores2 .entrenadores-imagenes {
    width: 100%; }
    .contenido-index .index-entrenadores .index-entrenadores2 .entrenadores-imagenes img {
      width: 100%;
      height: 250px;
      border-radius: 7px;
      transition: transform 0.3s ease-in-out; }
      .contenido-index .index-entrenadores .index-entrenadores2 .entrenadores-imagenes img:hover {
        transform: scale(1.1); }

.contenido-index .index-entrenadores .index-entrenadores3 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenido-index .index-entrenadores .index-entrenadores3 .entrenadores-imagenes {
    width: 100%; }
    .contenido-index .index-entrenadores .index-entrenadores3 .entrenadores-imagenes img {
      width: 100%;
      height: 250px;
      border-radius: 7px;
      transition: transform 0.3s ease-in-out; }
      .contenido-index .index-entrenadores .index-entrenadores3 .entrenadores-imagenes img:hover {
        transform: scale(1.1); }

.contenido-index .index-entrenadores .index-entrenadores4 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenido-index .index-entrenadores .index-entrenadores4 .entrenadores-imagenes {
    width: 100%; }
    .contenido-index .index-entrenadores .index-entrenadores4 .entrenadores-imagenes img {
      width: 100%;
      height: 250px;
      border-radius: 7px;
      transition: transform 0.3s ease-in-out; }
      .contenido-index .index-entrenadores .index-entrenadores4 .entrenadores-imagenes img:hover {
        transform: scale(1.1); }

.contenido-index .index-entrenadores .index-entrenadores5 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenido-index .index-entrenadores .index-entrenadores5 .entrenadores-imagenes {
    width: 100%; }
    .contenido-index .index-entrenadores .index-entrenadores5 .entrenadores-imagenes img {
      width: 100%;
      height: 250px;
      border-radius: 7px;
      transition: transform 0.3s ease-in-out; }
      .contenido-index .index-entrenadores .index-entrenadores5 .entrenadores-imagenes img:hover {
        transform: scale(1.1); }

.contenido-index .index-entrenadores .index-entrenadores6 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenido-index .index-entrenadores .index-entrenadores6 .entrenadores-imagenes {
    width: 100%; }
    .contenido-index .index-entrenadores .index-entrenadores6 .entrenadores-imagenes img {
      width: 100%;
      height: 250px;
      border-radius: 7px;
      transition: transform 0.3s ease-in-out; }
      .contenido-index .index-entrenadores .index-entrenadores6 .entrenadores-imagenes img:hover {
        transform: scale(1.1); }

.contenido-index .img-precios-index {
  width: 100%;
  height: 150px;
  overflow: hidden; }
  .contenido-index .img-precios-index img {
    width: 100%;
    height: 250px;
    border-radius: 7px;
    transition: transform 0.3s ease-in-out; }
    .contenido-index .img-precios-index img:hover {
      transform: scale(1.1); }

.contenido-index .precios-index {
  display: flex;
  flex-direction: column; }
  .contenido-index .precios-index .precios-contenido-index {
    display: flex;
    justify-content: space-around; }
    .contenido-index .precios-index .precios-contenido-index .index-precios1 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #393e41;
      width: 100%;
      height: 150px;
      margin: 3px; }
      .contenido-index .precios-index .precios-contenido-index .index-precios1 h4 {
        color: #f6f7eb; }
    .contenido-index .precios-index .precios-contenido-index .index-precios2 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #393e41;
      width: 100%;
      height: 150px;
      margin: 3px; }
      .contenido-index .precios-index .precios-contenido-index .index-precios2 h4 {
        color: #f6f7eb; }

.contenido-index .index-horarios {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenido-index .index-horarios .index-horarios1 {
    margin-top: 10px;
    background-color: #393e41;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%; }
    .contenido-index .index-horarios .index-horarios1 p {
      color: #f6f7eb; }

@media (max-width: 560px) {
  .carrusel img {
    height: 40rem; }
  .contenido-index .entrenamiento-index-general .index-entrenamiento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 3px 3px;
    grid-auto-flow: row;
    grid-template-areas: "entrenamiento-pesas entrenamiento-boxeo" "entrenamiento-crossfit entrenamiento-calistenia"; }
    .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-pesas {
      grid-area: entrenamiento-pesas;
      width: 100%; }
      .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-pesas img {
        height: 100px; }
    .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-boxeo {
      grid-area: entrenamiento-boxeo;
      width: 100%; }
      .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-boxeo img {
        height: 100px; }
    .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-crossfit {
      grid-area: entrenamiento-crossfit;
      width: 100%; }
      .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-crossfit img {
        height: 100px; }
    .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-calistenia {
      grid-area: entrenamiento-calistenia;
      width: 100%; }
      .contenido-index .entrenamiento-index-general .index-entrenamiento .entrenamiento-calistenia img {
        height: 100px; }
  .contenido-index .index-entrenadores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 3px 3px;
    grid-auto-flow: row;
    grid-template-areas: "index-entrenadores1 index-entrenadores2" "index-entrenadores3 index-entrenadores4" "index-entrenadores5 index-entrenadores6"; }
    .contenido-index .index-entrenadores .index-entrenadores1 {
      grid-area: index-entrenadores1; }
    .contenido-index .index-entrenadores .index-entrenadores2 {
      grid-area: index-entrenadores2; }
    .contenido-index .index-entrenadores .index-entrenadores3 {
      grid-area: index-entrenadores3; }
    .contenido-index .index-entrenadores .index-entrenadores4 {
      grid-area: index-entrenadores4; }
    .contenido-index .index-entrenadores .index-entrenadores5 {
      grid-area: index-entrenadores5; }
    .contenido-index .index-entrenadores .index-entrenadores6 {
      grid-area: index-entrenadores6; }
  .contenido-index .precios-index .precios-contenido-index {
    display: flex;
    flex-direction: column; } }

.titulo-entrenamiento {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 30px; }

.acordeon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas: "acordeon1 acordeon2 acordeon3 acordeon4"; }

.acordeon1 {
  grid-area: acordeon1; }

.acordeon2 {
  grid-area: acordeon2; }

.acordeon3 {
  grid-area: acordeon3; }

.acordeon4 {
  grid-area: acordeon4; }

.acordeon .entrenamiento-imagenes img {
  height: 225px;
  width: 95%;
  margin: 2px;
  border-radius: 7px;
  transition: transform 0.3s ease-in-out; }
  .acordeon .entrenamiento-imagenes img:hover {
    transform: scale(1.1); }

.acordeon .accordion-item .accordion-button {
  background-color: #393e41; }
  .acordeon .accordion-item .accordion-button h3 {
    color: #f6f7eb; }
  .acordeon .accordion-item .accordion-button:hover {
    background-color: #1C1F21; }

.acordeon .accordion-item .accordion-body {
  background-color: #393e41;
  height: auto; }
  .acordeon .accordion-item .accordion-body p {
    color: #f6f7eb; }

@media (max-width: 560px) {
  .titulo-entrenamiento {
    display: none; }
  .acordeon .entrenamiento-imagenes img {
    height: 125px;
    width: 90%; }
  .acordeon {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas: "acordeon1 acordeon2" "acordeon3 acordeon4"; }
  .acordeon1 {
    grid-area: acordeon1; }
  .acordeon2 {
    grid-area: acordeon2; }
  .acordeon3 {
    grid-area: acordeon3; }
  .acordeon4 {
    grid-area: acordeon4; } }

.titulo-entrenadores {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 30px; }

.index-entrenadores- {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas: "index-entrenadores-1 index-entrenadores-2 index-entrenadores-3 index-entrenadores-3" "index-entrenadores-4 index-entrenadores-4 index-entrenadores-5 index-entrenadores-6"; }

.index-entrenadores-1 {
  grid-area: index-entrenadores-1; }

.index-entrenadores-2 {
  grid-area: index-entrenadores-2; }

.index-entrenadores-3 {
  grid-area: index-entrenadores-3; }

.index-entrenadores-4 {
  grid-area: index-entrenadores-4; }

.index-entrenadores-5 {
  grid-area: index-entrenadores-5; }

.index-entrenadores-6 {
  grid-area: index-entrenadores-6; }

.index-entrenadores-1 {
  height: 315px;
  width: 100%; }
  .index-entrenadores-1 .entrenadores-imagenes-1 img {
    width: 100%;
    height: 230px;
    border-radius: 7px;
    transition: transform 0.3s ease-in-out; }
    .index-entrenadores-1 .entrenadores-imagenes-1 img:hover {
      transform: scale(1.1); }
  .index-entrenadores-1 p {
    color: black; }
  .index-entrenadores-1 h3 {
    color: black; }
  .index-entrenadores-1 h5 {
    color: black;
    background-color: yellow;
    border-radius: 7px; }

.index-entrenadores-2 {
  height: 315px; }
  .index-entrenadores-2 .entrenadores-imagenes-1 img {
    width: 100%;
    height: 210px;
    border-radius: 7px;
    transition: transform 0.3s ease-in-out; }
    .index-entrenadores-2 .entrenadores-imagenes-1 img:hover {
      transform: scale(1.1); }
  .index-entrenadores-2 p {
    color: black; }
  .index-entrenadores-2 h3 {
    color: black; }
  .index-entrenadores-2 h5 {
    color: black;
    background-color: yellow;
    border-radius: 7px; }

.index-entrenadores-3 {
  height: 315px; }
  .index-entrenadores-3 .entrenadores-imagenes-1 img {
    width: 100%;
    height: 245px;
    border-radius: 7px;
    transition: transform 0.3s ease-in-out; }
    .index-entrenadores-3 .entrenadores-imagenes-1 img:hover {
      transform: scale(1.1); }
  .index-entrenadores-3 p {
    color: black; }
  .index-entrenadores-3 h3 {
    color: black; }
  .index-entrenadores-3 h5 {
    color: black;
    background-color: yellow;
    border-radius: 7px; }

.index-entrenadores-4 {
  height: 315px; }
  .index-entrenadores-4 .entrenadores-imagenes-1 img {
    width: 100%;
    height: 265px;
    border-radius: 7px;
    transition: transform 0.3s ease-in-out; }
    .index-entrenadores-4 .entrenadores-imagenes-1 img:hover {
      transform: scale(1.1); }
  .index-entrenadores-4 p {
    color: black; }
  .index-entrenadores-4 h3 {
    color: black; }
  .index-entrenadores-4 h5 {
    color: black;
    background-color: yellow;
    border-radius: 7px; }

.index-entrenadores-5 {
  height: 315px; }
  .index-entrenadores-5 .entrenadores-imagenes-1 img {
    width: 100%;
    height: 210px;
    border-radius: 7px;
    transition: transform 0.3s ease-in-out; }
    .index-entrenadores-5 .entrenadores-imagenes-1 img:hover {
      transform: scale(1.1); }
  .index-entrenadores-5 p {
    color: black; }
  .index-entrenadores-5 h3 {
    color: black; }
  .index-entrenadores-5 h5 {
    color: black;
    background-color: yellow;
    border-radius: 7px; }

.index-entrenadores-6 {
  height: 315px; }
  .index-entrenadores-6 .entrenadores-imagenes-1 img {
    width: 100%;
    height: 230px;
    border-radius: 7px;
    transition: transform 0.3s ease-in-out; }
    .index-entrenadores-6 .entrenadores-imagenes-1 img:hover {
      transform: scale(1.1); }
  .index-entrenadores-6 p {
    color: black; }
  .index-entrenadores-6 h3 {
    color: black; }
  .index-entrenadores-6 h5 {
    color: black;
    background-color: yellow;
    border-radius: 7px; }

@media (max-width: 1105px) {
  .titulo-entrenadores {
    display: none; }
  .index-entrenadores- .index-entrenadores-1 {
    margin-top: 10px; }
  .index-entrenadores- .index-entrenadores-2 {
    margin-top: 10px; }
  .index-entrenadores- .index-entrenadores-3 {
    margin-top: 10px; }
  .index-entrenadores- .index-entrenadores-4 {
    margin-top: 50px; }
  .index-entrenadores- .index-entrenadores-5 {
    margin-top: 10px; }
  .index-entrenadores- .index-entrenadores-6 {
    margin-top: 30px; } }

@media (max-width: 660px) {
  .index-entrenadores- .index-entrenadores-1 {
    margin-top: 10px; }
  .index-entrenadores- .index-entrenadores-2 {
    margin-top: 10px; }
  .index-entrenadores- .index-entrenadores-3 {
    margin-top: 10px; }
  .index-entrenadores- .index-entrenadores-4 {
    margin-top: 80px; }
  .index-entrenadores- .index-entrenadores-5 {
    margin-top: 25px; }
  .index-entrenadores- .index-entrenadores-6 {
    margin-top: 30px; } }

@media (max-width: 600px) {
  .index-entrenadores- {
    margin-top: 100px; } }

@media (max-width: 560px) {
  .index-entrenadores- {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas: "index-entrenadores-1 index-entrenadores-2" " index-entrenadores-3 index-entrenadores-4" "index-entrenadores-5 index-entrenadores-6"; }
  .index-entrenadores-1 {
    grid-area: index-entrenadores-1; }
  .index-entrenadores-2 {
    grid-area: index-entrenadores-2; }
  .index-entrenadores-3 {
    grid-area: index-entrenadores-3; }
  .index-entrenadores-4 {
    grid-area: index-entrenadores-4; }
  .index-entrenadores-5 {
    grid-area: index-entrenadores-5; }
  .index-entrenadores-6 {
    grid-area: index-entrenadores-6; }
  .index-entrenadores- .index-entrenadores-1 {
    margin-top: 10px; }
  .index-entrenadores- .index-entrenadores-2 {
    margin-top: 10px; }
  .index-entrenadores- .index-entrenadores-3 {
    margin-top: 0; }
  .index-entrenadores- .index-entrenadores-4 {
    margin-top: 30px; }
  .index-entrenadores- .index-entrenadores-5 {
    margin-top: 110px; }
  .index-entrenadores- .index-entrenadores-6 {
    margin-top: 90px; } }

.titulo-precios {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 30px; }

.img-precios {
  width: 100%;
  height: 150px; }
  .img-precios img {
    width: 100%;
    height: 300px;
    border-radius: 7px;
    transition: transform 0.3s ease-in-out; }
    .img-precios img:hover {
      transform: scale(1.1); }

.precios {
  display: flex;
  flex-direction: column;
  margin-top: 165px; }
  .precios .precios-contenido {
    display: flex;
    justify-content: space-around; }
    .precios .precios-contenido .precios-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #393e41;
      width: 100%;
      height: 350px;
      margin: 3px; }
      .precios .precios-contenido .precios-1 .article-precios {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 75%;
        align-items: center;
        height: 100%; }
        .precios .precios-contenido .precios-1 .article-precios h3 {
          color: #f6f7eb; }
        .precios .precios-contenido .precios-1 .article-precios p {
          color: #f6f7eb; }
    .precios .precios-contenido .precios-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      background-color: #393e41;
      width: 100%;
      height: 350px;
      margin: 3px; }
      .precios .precios-contenido .precios-2 .article-precios {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 75%;
        align-items: center;
        height: 100%; }
        .precios .precios-contenido .precios-2 .article-precios h3 {
          color: #f6f7eb; }
        .precios .precios-contenido .precios-2 .article-precios p {
          color: #f6f7eb; }

@media (max-width: 710px) {
  .titulo-precios {
    display: none;
    margin-top: 100px; }
  .img-precios {
    margin-top: 100px; }
    .img-precios img {
      margin-top: 50px; }
  .precios-contenido {
    display: flex;
    flex-direction: column;
    margin-top: 50px; }
  .precios .precios-contenido {
    display: flex; }
    .precios .precios-contenido .precios-1 .article-precios {
      width: 100%; }
    .precios .precios-contenido .precios-2 .article-precios {
      width: 100%; } }

.titulo-horario {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 30px; }

.horarios {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .horarios .horarios2 {
    margin-top: 10px;
    background-color: #393e41;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 50%; }
    .horarios .horarios2 p {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #f6f7eb; }
    .horarios .horarios2 h3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #f6f7eb; }

@media (max-width: 960px) {
  .titulo-horario {
    display: none; }
  .horarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px; }
    .horarios .horarios2 {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 600px;
      width: 100%; } }

.footer {
  background-color: #1C1F21;
  margin-top: 20px; }
  .footer .footer-index {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .footer .footer-index .redes-sociales ul {
      list-style: none; }
      .footer .footer-index .redes-sociales ul li a {
        text-decoration: none;
        color: white; }
        .footer .footer-index .redes-sociales ul li a img {
          height: 20px;
          width: 20px;
          background-color: white; }
        .footer .footer-index .redes-sociales ul li a:hover {
          background-color: #393e41; }
    .footer .footer-index .contacto-general {
      display: flex; }
      .footer .footer-index .contacto-general .inf-contactos {
        height: 250px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px; }
      .footer .footer-index .contacto-general .contacto {
        margin: 5px;
        width: 250px; }
        .footer .footer-index .contacto-general .contacto article form textarea {
          width: 250px;
          margin-top: -30px; }
        .footer .footer-index .contacto-general .contacto article form .nombre {
          margin-top: 0; }
        .footer .footer-index .contacto-general .contacto article form .email {
          margin-top: -30px; }
        .footer .footer-index .contacto-general .contacto article form input {
          width: 250px;
          display: flex;
          justify-content: center;
          margin-top: 7px; }
  .footer .pie-de-pagina {
    display: flex;
    justify-content: center;
    background-color: #5c415d;
    height: 50px; }
    .footer .pie-de-pagina p {
      display: flex;
      align-items: center;
      height: 50px; }

.footer-entrenadores {
  background-color: #1C1F21;
  margin-top: 60px; }
  .footer-entrenadores .footer-index {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .footer-entrenadores .footer-index .redes-sociales ul {
      list-style: none; }
      .footer-entrenadores .footer-index .redes-sociales ul li a {
        text-decoration: none;
        color: white; }
        .footer-entrenadores .footer-index .redes-sociales ul li a img {
          height: 20px;
          width: 20px;
          background-color: white; }
        .footer-entrenadores .footer-index .redes-sociales ul li a:hover {
          background-color: #393e41; }
    .footer-entrenadores .footer-index .contacto-general {
      display: flex; }
      .footer-entrenadores .footer-index .contacto-general .inf-contactos {
        height: 250px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px; }
      .footer-entrenadores .footer-index .contacto-general .contacto {
        margin: 5px;
        width: 250px; }
        .footer-entrenadores .footer-index .contacto-general .contacto article form textarea {
          width: 250px;
          margin-top: -30px; }
        .footer-entrenadores .footer-index .contacto-general .contacto article form .nombre {
          margin-top: 0; }
        .footer-entrenadores .footer-index .contacto-general .contacto article form .email {
          margin-top: -30px; }
        .footer-entrenadores .footer-index .contacto-general .contacto article form input {
          width: 250px;
          display: flex;
          justify-content: center;
          margin-top: 7px; }
  .footer-entrenadores .pie-de-pagina {
    display: flex;
    justify-content: center;
    background-color: #5c415d;
    height: 50px; }
    .footer-entrenadores .pie-de-pagina p {
      display: flex;
      align-items: center;
      height: 50px; }

@media (max-width: 780px) {
  .footer-entrenadores {
    margin-top: 150px; } }

@media (max-width: 750px) {
  .footer-entrenadores {
    margin-top: 250px; } }
