.footer {
    background-color: $negro-2;
    margin-top: 20px;

    .footer-index {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .redes-sociales {
            ul {
                list-style: none;

                li {

                    a {
                        text-decoration: none;
                        color: white;

                        &:hover {
                            background-color: $negro;
                        }
                    }
                }
            }
        }

        .contacto-general {
            display: flex;

            .inf-contactos {
                height: 250px;
                width: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 5px;
            }

            .contacto {
                margin: 5px;
                width: 250px;

                article {
                    form {
                        textarea {
                            width: 250px;
                            margin-top: -30px;
                        }

                        .nombre {
                            margin-top: 0;
                        }

                        .email {
                            margin-top: -30px;
                        }

                        input {
                            width: 250px;
                            display: flex;
                            justify-content: center;
                            margin-top: 7px;
                        }
                    }
                }
            }
        }
    }

    .pie-de-pagina {
        display: flex;
        justify-content: center;
        background-color: $violeta;
        height: 50px;

        p {
            display: flex;
            align-items: center;
            height: 50px;
        }
    }

} 