header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        background-image: linear-gradient($negro-2 90%, $negro, $gris);
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;

        a {
            color: $blanco;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 7px;

            &:hover {
                background-color: $violeta;
            }

            img {
                width: 50px;
                height: 100%;
                margin-top: 0;
            }
        }

        ul {
            list-style: none;
            display: flex;
            padding: 10px 0;

            li {
                padding: 0 7px;
            }
        }
    }
}

@media (max-width: 620px) {

    header {
        display: flex;
        height: 150px;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;

        .nav {
            height: 150px;

            ul {
                li {
                    a {
                        padding: 5px 5px;
                    }
                }
            }
        }

    }

}

@media (max-width: 560px) {
    header {
        .nav {
            display: flex;
            height: 135px;
            width: 100%;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
            background-color: rgb(255, 0, 0);

            ul {
                display: flex;
                flex-direction: column;
                margin: 0;

                li {
                    a {
                        color: yellow;
                    }
                }
            }
        }
    }
}