header {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        background-image: linear-gradient(#1C1F21 90%, #393e41, #9DA5AA);
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;

        a {
            color: #f6f7eb;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 7px;

            &:hover {
                background-color: #5c415d;
            }

            img {
                width: 50px;
                height: 100%;
                margin-top: 0;
            }
        }

        ul {
            list-style: none;
            display: flex;
            padding: 10px 0;

            li {
                padding: 0 7px;
            }
        }
    }
}

@media(max-width:600px) {
    header {

        .nav {
            height: 140px;
            ul {
                display: flex;
                flex-direction: column;
            }
        }
    }
}