.titulo-entrenamiento {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 30px
}

.acordeon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "acordeon1 acordeon2 acordeon3 acordeon4";
}

.acordeon1 {
    grid-area: acordeon1;
}

.acordeon2 {
    grid-area: acordeon2;
}

.acordeon3 {
    grid-area: acordeon3;
}

.acordeon4 {
    grid-area: acordeon4;
}

.acordeon {
    .entrenamiento-imagenes {
        img {
            height: 250px;
            width: 99%;
            margin: 2px;
            border-radius: 7px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .accordion-item {
        .accordion-button {
            background-color: $negro;

            h3 {
                color: $blanco;
            }

            &:hover {
                background-color: $negro-2;
            }
        }

        .accordion-body {
            background-color: $negro;
            height: auto;

            p {
                color: $blanco;
            }
        }
    }
}

@media (max-width: 560px) {
    .titulo-entrenamiento{
        display: none;
    }
    .acordeon {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
            "acordeon1 acordeon2"
            "acordeon3 acordeon4";
    }

    .acordeon1 {
        grid-area: acordeon1;
    }

    .acordeon2 {
        grid-area: acordeon2;
    }

    .acordeon3 {
        grid-area: acordeon3;
    }

    .acordeon4 {
        grid-area: acordeon4;
    }
}