.titulo-horario {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 30px
}

.horarios {
    display: flex;
    flex-direction: column;
    align-items: center;

    .horarios2 {
        margin-top: 10px;
        background-color: $negro;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 450px;
        width: 50%;

        p {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $blanco;
        }

        h3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $blanco;
        }
    }
}

@media (max-width:960px) {
    .titulo-horario {
        display: none;
    }

    .horarios {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;

        .horarios2 {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 600px;
            width: 100%;
        }
    }
}