.titulo-horario {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 30px
}

.horarios {
    display: flex;
    flex-direction: column;
    align-items: center;

    .horarios2 {
        margin-top: 10px;
        background-color: $negro;
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 35%;
        section{
            margin-top: 20px;
            height: 25%;
        }

        p {
            color: $blanco;
        }

        h3 {
            display: flex;
            justify-content: center;
            color: $blanco;
        }
    }
}

@media (max-width:1190px){
    .horarios{
        .horarios2{
            width: 50%;
            height: 550px;
        }
    }
}

@media (max-width:700px) {
    .titulo-horario {
        display: none;
    }

    .horarios {
        display: flex;
        flex-direction: column;
        margin-top: 100px;

        .horarios2 {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            height: 600px;
            width: 100%;
        }
    }
}