.titulo-precios {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 30px
}

.img-precios {
    width: 100%;
    height: 150px;


    img {
        width: 100%;
        height: 300px;
    }
}

.precios {
    display: flex;
    flex-direction: column;
    margin-top: 165px;

    .precios-contenido {
        display: flex;
        justify-content: space-around;

        .precios-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $negro;
            width: 100%;
            height: 350px;
            margin: 3px;

            .article-precios {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 75%;
                align-items: center;
                height: 100%;

                h3 {
                    color: $blanco;
                }

                p {
                    color: $blanco;
                }
            }

        }

        .precios-2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            background-color: $negro;
            width: 100%;
            height: 350px;
            margin: 3px;

            .article-precios {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 75%;
                align-items: center;
                height: 100%;

                h3 {
                    color: $blanco;
                }

                p {
                    color: $blanco;
                }
            }

        }
    }
}

@media (max-width:710px) {
    .titulo-precios{
        display: none;
    }
    
    .img-precios{
        img{
            margin-top: 100px;
        }
    }

    .precios-contenido {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }


    .precios {
        .precios-contenido {
            display: flex;

            .precios-1 {

                .article-precios {
                    width: 100%;
                }

            }

            .precios-2 {

                .article-precios {
                    width: 100%;
                }

            }
        }
    }
}