.titulo-entrenadores {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 30px
}

.index-entrenadores- {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "index-entrenadores-1 index-entrenadores-2 index-entrenadores-3 index-entrenadores-3"
        "index-entrenadores-4 index-entrenadores-4 index-entrenadores-5 index-entrenadores-6";
}

.index-entrenadores-1 {
    grid-area: index-entrenadores-1;
}

.index-entrenadores-2 {
    grid-area: index-entrenadores-2;
}

.index-entrenadores-3 {
    grid-area: index-entrenadores-3;
}

.index-entrenadores-4 {
    grid-area: index-entrenadores-4;
}

.index-entrenadores-5 {
    grid-area: index-entrenadores-5;
}

.index-entrenadores-6 {
    grid-area: index-entrenadores-6;
}

.index-entrenadores-1 {
    height: auto;
    width: 100%;
    background-color: $gris;
    border-radius: 7px;

    .titulo2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entrenadores-imagenes-1 {
        .titulo2 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        img {
            width: 100%;
            height: 230px;
            border-radius: 7px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    p {
        color: black;
    }

    h3 {
        color: black;
    }

    h5 {
        color: rgb(0, 0, 0);
        background-color: yellow;
        border-radius: 7px;
    }
}

.index-entrenadores-2 {
    height: auto;
    width: 100%;
    background-color: $gris;
    border-radius: 7px;
    .titulo2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entrenadores-imagenes-1 {
        img {
            width: 100%;
            height: 210px;
            border-radius: 7px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    p {
        color: black;
    }

    h3 {
        color: black;
    }

    h5 {
        color: rgb(0, 0, 0);
        background-color: yellow;
        border-radius: 7px;
    }
}

.index-entrenadores-3 {
    height: auto;
    width: 100%;
    background-color: $gris;
    border-radius: 7px;
    .titulo2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entrenadores-imagenes-1 {
        display: flex;
        justify-content: center;

        img {
            width: 50%;
            height: 245px;
            border-radius: 7px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    p {
        color: black;
    }

    h3 {
        color: black;
    }

    h5 {
        color: rgb(0, 0, 0);
        background-color: yellow;
        border-radius: 7px;
    }
}

.index-entrenadores-4 {
    height: auto;
    width: 100%;
    background-color: $gris;
    border-radius: 7px;
    .titulo2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entrenadores-imagenes-1 {
        display: flex;
        justify-content: center;

        img {
            width: 50%;
            height: 265px;
            border-radius: 7px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    p {
        color: black;
    }

    h3 {
        color: black;
    }

    h5 {
        color: rgb(0, 0, 0);
        background-color: yellow;
        border-radius: 7px;
    }
}

.index-entrenadores-5 {
    height: auto;
    width: 100%;
    background-color: $gris;
    border-radius: 7px;
    .titulo2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entrenadores-imagenes-1 {
        img {
            width: 100%;
            height: 210px;
            border-radius: 7px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    p {
        color: black;
    }

    h3 {
        color: black;
    }

    h5 {
        color: rgb(0, 0, 0);
        background-color: yellow;
        border-radius: 7px;
    }
}

.index-entrenadores-6 {
    height: auto;
    width: 100%;
    background-color: $gris;
    border-radius: 7px;
    .titulo2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entrenadores-imagenes-1 {
        img {
            width: 100%;
            height: 230px;
            border-radius: 7px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    p {
        color: black;
    }

    h3 {
        color: black;
    }

    h5 {
        color: rgb(0, 0, 0);
        background-color: yellow;
        border-radius: 7px;
    }
}

@media (max-width:1105px) {

    .titulo-entrenadores {
        display: none;
    }
}



@media (max-width:600px) {
    .index-entrenadores- {
        margin-top: 100px;
    }
}

@media (max-width:560px) {

    .index-entrenadores- {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas:
            "index-entrenadores-1 index-entrenadores-2"
            " index-entrenadores-3 index-entrenadores-4"
            "index-entrenadores-5 index-entrenadores-6";
    }

    .index-entrenadores-1 {
        grid-area: index-entrenadores-1;
    }

    .index-entrenadores-2 {
        grid-area: index-entrenadores-2;
    }

    .index-entrenadores-3 {
        grid-area: index-entrenadores-3;
    }

    .index-entrenadores-4 {
        grid-area: index-entrenadores-4;
    }

    .index-entrenadores-5 {
        grid-area: index-entrenadores-5;
    }

    .index-entrenadores-6 {
        grid-area: index-entrenadores-6;
    }

    .index-entrenadores-1 {

        .entrenadores-imagenes-1 {
            img {
                width: 100%;
                height: 130px;

            }
        }
    }

    .index-entrenadores-2 {

        .entrenadores-imagenes-1 {
            img {
                width: 100%;
                height: 130px;

            }
        }
    }

    .index-entrenadores-3 {

        .entrenadores-imagenes-1 {
            img {
                width: 100%;
                height: 130px;

            }
        }
    }

    .index-entrenadores-4 {

        .entrenadores-imagenes-1 {
            img {
                width: 100%;
                height: 130px;

            }
        }
    }

    .index-entrenadores-5 {

        .entrenadores-imagenes-1 {
            img {
                width: 100%;
                height: 130px;

            }
        }
    }

    .index-entrenadores-6 {

        .entrenadores-imagenes-1 {
            img {
                width: 100%;
                height: 130px;

            }
        }
    }
}